* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc((var(--index) * 10));
}

/* will-change ниже укажем все классы, которые изменяются при прокрутке(смотришь прямо в элементах управления )*/

.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}

body {
  background-color: rgba(23, 32, 30, 1);
  color: #fafafa;
  overflow-x: hidden;
}

.hero {
  height: calc(var(--index) * 45);
  position: absolute;
  right: 0vw;
  top: -5vh;
  z-index: -1;
}
.main-header {
  height: 100vh;
}

.container {
  padding: 0 7vw;
}
.main-title {
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: min-content;
  bottom: 20vh;
  line-height: 0.8;
}
.gallery {
  display: flex;
}
.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 0.8);
}

.gallery__right .gallery__item {
  margin-bottom: 0;
  margin-top: var(--gallery-gap);
}

.text-block {
  color: var(--color-text);
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__p {
  line-height: 1.75;
}
